<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.bootcss.com/MaterialDesign-Webfont/2.4.85/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="./css/vuetify-v1.1.12.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>末地门计算</title>
    <style>
    .point {
        height: 50px;
    }

    #btnadd {
        float: right;
        margin-right: 0px;
        margin-top: 10px;
        position: relative;
    }
    </style>
</head>

<body>
    <div id="app">
        <v-app>
            <v-content>
                <v-container>
                    <div>
                        <h3 style="padding-left: 16px;">末地门计算</h3>
                    </div>
                    <v-form>
                        <v-container>
                            <v-layout row wrap id="points">
                                <v-flex xs12 sm12 class="point" v-for="item in items" :key="item">
                                    <v-text-field prefix="P：" @change="test" clearable clear-icon="mdi-delete"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm10>
                                    <v-text-field v-model="result" label="计算结果：" readonly></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm1>
                                    <v-btn id="btnadd" v-on:click="clearAll" color="info">清除所有</v-btn>
                                </v-flex>
                                <v-flex xs12 sm1>
                                    <v-btn id="btnadd" v-on:click="addP" color="info">添加新点</v-btn>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-form>
                </v-container>
            </v-content>
        </v-app>
    </div>
    <script src="./js/stronghold.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/vuetify-v1.1.12.min.js"></script>
    <script>
    var app = new Vue({
        el: '#app',
        data() {
            return { result: "", items: [1, 2], PL: { "p1": 1, "p2": 2 } }
        },
        methods: {
            addP: function() {
                this.items.push(this.items[this.items.length - 1] + 1)
            },
            test: function() {
                try {
                    result = StrongholdFind(getPoints())
                    console.log(result)
                    this.result = "X = " + result.x.toFixed(3) + "    Z = " + result.y.toFixed(3) + "    误差：" + result.r.toFixed(3)
                } catch (err) {
                    this.result = ""

                }
            },
            clearAll:function(){
                this.items=[1,2]
                //clearPoints()
            }
        },
        computed: {
            calc: function() {
                result = StrongholdFind(getPoints())
                console.log(result, this.x)
                return result
            }
        }
    })

    function getPoints() {
        a = document.querySelectorAll(".point input")
        p = []
        for (var i = 0; i < a.length; i++) {
            p.push(a[i]._value)
        }
        p_temp = p.map(function(i) { return i.split(" ").map(parseFloat) })
        pl = p_temp.map(
            function(item) {
                return { "x": item[0], "y": item[1], "theta": item[2] }
            })
        return pl
    }
    function clearPoints(){
        //有问题
        a = document.querySelectorAll(".point input")
        a[0]._value=""
        a[0].value=""
        a[1].value=""
    }
    </script>
</body>

</html>